/* here is universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* here is css variable */

:root {
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-white-color: rgba(255, 255, 255, 0.8);
  --primary-red-color: rgba(255, 0, 0, 1);
  --primary-black-color: rgba(7, 2, 17, 1);
  --secondary-black-color: rgba(7, 2, 17, 0.6);
}

/* here is common shared styles */

/* here is header sections styles !*/

header {
  max-width: 1350px;
  height: 600px;
  margin: 50px auto 160px;
  background-image: url("../assets/banner-image.png");
  background-size: cover;
  border-radius: 16px;
}

/* here is banner section styles */

.banner-title {
  color: var(--primary-white-color);
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  padding-top: 160px;
}

.banner-heading {
  color: var(--primary-white-color);
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 40px 190px 170px;
}

.banner-section {
  max-width: 1350px;
  height: 600px;
  background-color: #00000099;
  border-radius: 16px;
}

/* finished banner section */

/* complete header section styles! */

/* here is main section styles! */

/* here is discount section styles */

.discount-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.discount-amount {
  color: var(--primary-red-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.discount-intro {
  color: var(--primary-red-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.discount-heading {
  color: var(--primary-black-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.discount-section-image {
  max-width: 600px;
  margin-bottom: 120px;
}

/* complete discount section styles */

/* here is welcome section */

.welcome-section {
  max-width: 1350px;
  height: 600px;
  background-image: url("../assets/vector.png");
  margin: 120px auto;
  background-size: cover;
  border-radius: 16px;
}
.gradient {
  max-width: 1350px;
  height: 600px;
  margin: 120px auto;
  background: linear-gradient(to right, #070211, #07021100);
  border-radius: 16px;
}

.welcome-section-intro {
  color: var(--primary-white-color);
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 126px 460px 0px 126px;
}

.welcome-section-description {
  color: var(--secondary-white-color);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 460px 0px 126px;
}
.welcome-section-button {
  color: var(--primary-white-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: none;
  padding: 50px 400px 0px 126px;
  position: relative;
  bottom: 330px;
}

.welcome-section-image {
  position: relative;
  width: 280px;
  bottom: 270px;
  left: 345px;
}

/* finished welcome section styles */

/* here is place info section style */


.place-container {
  max-width: 1300px;
  height: 450px;
  background: linear-gradient(to bottom, #ff00001f, #ff000000);
  border-radius: 16px;
  margin: 0px auto 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-info {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  /* text-align: center; */
}

.place-title {
  color: var(--primary-red-color);
}

.place-info-button{
  color: var(--primary-white-color);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
padding: 16px 32px;
border: none;
background-color: var(--primary-red-color);
border-radius: 8px;
margin-top: 48px;
}

/* finished place info section */

/* here is offer section styles */

.best-offer-container{
  display: flex;
  align-items: center;
  /* gap: 70px; */
  margin: 0px 140px 120px;
}
.offer-intro{
  color: var(--primary-red-color);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.offer-title{
  color: var(--primary-black-color);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 25px;
}
.offer-description{
  color: var(--secondary-black-color);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-right: 85px;
}
.offer-image{
  width: 250px;
  margin-right: 220px;
  border: 12px solid var(--primary-red-color);
  border-radius: 100%;
  padding: 20px;
}

.date{
  color: var(--primary-red-color);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.time-description{
  color: var(--secondary-black-color);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */

}

.time-image{
  margin-top: 30px;
}

.offer-time-container{
  position: relative;
  right: 65px;
  margin-top: 45px;
}

/* finished offer section  */

/* here is holiday sale section styles */

.holiday-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holiday-section-intro{
  color: var(--primary-black-color);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.holiday-section-title{
  color: var(--primary-black-color);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}

.uncommon-title{
  color: var(--primary-red-color);
}

.holiday-section-description{
  color: var(--secondary-black-color);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
margin: 28px 352px 68px;
}

/* complete holiday sale section styles */

/* here is shopping description section styles */

.shopping-container{
  margin-left: 140px;
  margin-top: 120px;

}
.shopping-intro{
  color: var(--primary-red-color);
font-family: Inter;
font-size: 24px;
font-weight: 500;

}

.shopping-title{
  color: var(--primary-black-color);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;

}

.shopping-description{
  color: var(--secondary-black-color);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
    margin: 20px 500px 50px 0px;

}

/* finished shopping description section */